@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@400;700&family=Roboto+Mono:ital,wght@0,300;0,600;1,700&family=Roboto:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  tab-size: 4;
  text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  padding: 48px;
  outline-width: 1.25px;
}

a {
  text-decoration: none;
  position: relative;
  transform: opacity 300ms ease;
  cursor: pointer;
}

h1 {
  color: rgb(26, 32, 44);
  font-size: 72px;
  font-weight: 700;
  line-height: 1.25;
  margin: 0px;
}

h2 {
  color: rgb(36, 62, 99);
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 1.8px;
  line-height: 90px;
  text-size-adjust: 100%;
}

h5 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  color: rgb(36, 62, 99);
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}

/*
p {
  color: #243e63;
  font-size: 27px;
  margin: 48px 0px;
}
*/

.purple {
  color: rgb(100, 21, 255);
}

.purple__title {
  color: rgb(100, 21, 255);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 24px;
}

li {
  list-style: none;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  position: relative;
  padding: 80px 0;
}

.btn



/*

NAVIGATION BAR 

*/


.nav__container {
  transform: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nav__logo--wapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 6px;
}

.nav__logo--img {
  width: 60px;
  height: 60px;
  margin: 0 18px 0 0;
}

.nav__logo--title {
  font-size: 36px;
  font-weight: 900;
  color: #243e63;
}



.nav__list--links {
  display: flex;
}
.nav__link--anchor {
  color: #243e63;
  font-size: 21px;
  font-weight: 600;
  margin: 0 36px;
  padding: 0 0 6px;
}

.nav__link--anchor:hover {
  color: #6415ff;
}

.nav__link--anchor::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  transition: all 300ms ease;
  right: 0;
  background-color: #6415ff;
}

.nav__link--anchor:hover::after {
  width: 100%;
  left: 0;
}

.button {
  background-color: #6415ff;
  font-weight: 600;
  padding: 18px 48px;
  border-radius: 50px;
  color: #f7fafc;
  transition: all 300ms ease;
}

.button:hover, .purple__btn:hover, .big__btn:hover {
  background-color: rgb(91, 21, 215);
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #243e63;
  display: none;
}

.btn__menu:hover {
  color: #6415ff;
}

.btn__menu::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  transition: all 300ms ease;
  right: 0;
}

.menu__backdrop {
  border: 1px solid rgb(226, 232, 240);
  box-shadow: 5px 5px 10px rgba(172, 172, 172, 0.2);
  position: absolute;
  background-color: #ffffff;
  top: 36px;
  left: 36px;
  right: 36px;
  padding-bottom: 48px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  max-width: 100vh;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 27px;
  color: #1a202c;
  margin: 12px 0;
  padding: 0 0 6px;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8;
  color: #243e63;
}

/* 

HEADER

*/

.header__info--para {
    color: rgb(36, 62, 99);
    font-size: 27px;
    line-height: 40px;
    margin: 48px 0px;
}

.header__container {
  position: relative;
  padding: 144px 0px;
  display: flex;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.header__description {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  width: 40%;
  max-width: 533px;
}
.header__logo--wrapper{
  line-height: 36px;
  margin-top: 120px;
}
.trusted__logo {
  color: rgb(160, 174, 192);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.9px;
  text-align: left;
}

.header__img--logo {
  max-width: 100%;
  display: flex;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  margin: 24px 0px 0px;
  padding-right: 96px;
  color: rgb(36, 62, 99);
  line-height: 36px;
  opacity: 0.5;
}

.header__img--wrapper {
  position: relative;
  margin-top: 0px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: end;
}

.header__img {
  display: flex;
  justify-content: center;
 
}

.header__img-img{
  width: 100%;
  max-width: 1152px;
  height: auto;
}

.email__input--big--container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 672px;
  text-align: center;
}

.email__input--big {
  width: 100%;
  border-radius: 9999px;
  color: rgb(226, 232, 240);
  border: 2px solid rgb(226, 232, 240);
  background-color: rgb(255, 255, 255);
  padding: 30px 288px 30px 48px;
  font-size: 100%;
  font-weight: 500;
  word-spacing: 0px;
  text-indent: 0px;
  text-align: start;
  display: inline-block;
  margin: 0px;
  cursor: text;
}

::placeholder {
  opacity: 0.5;
}

.email__input--big:hover {
  border-color: rgb(160, 174, 192);
  transition-duration: border-color 300ms ease;
}

.big__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 12px 12px 12px 0px;
  padding: 24px 0px;
  width: 240px;
  max-width: 100%;
  line-height: 1;
  font-size: 24px;
  background-color: rgb(100, 21, 255);
  font-weight: 700;
  border-radius: 50px;
  color: rgb(247, 250, 252);
  transition: all 300ms ease;
  margin-left: auto;
  border-radius: 9999px;
  cursor: pointer;
  border: none;
}

.purple__btn {
  display: inline-block;
  background-color: rgb(100, 21, 255);
  padding: 18px 48px;
  border-radius: 9999px;
  border: none;
  font-weight: 700;
  font-size: 21px;
  transition: all 300ms ease;
  color: rgb(247, 250, 252);
  cursor: pointer;
}

.header__form--wrapper--small {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__decoration--left {
  pointer-events: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -10;
  height: 16rem;
  width: 16rem;
  transform: matrix(1, 0, 0, 1, -220, 300);
  transform-origin: 0px 0px;
  opacity: 0.05;
}

/* 

FEATURES

*/

.services {
  margin-top: 24px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
}
.service__img--wrappers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  width: 29%;
  max-width: 576px;
  height: 100%;
  max-width: 576px;
  margin: 0px 24px;
  padding: 48px 12px;
  height: 550px;
}

.service__img--wrapper {
  flex-shrink: 0;
  border-radius: 9999px;
  border: 1px solid rgb(226, 232, 240);
  padding: 30px;
  text-align: center;
}
.service__img {
  height: 36px;
  width: 35px;
  max-width: 100%;
}

.service__wrapper {
  margin: 12px 0px 0px 24px;
}

.service {
  margin-top: 24px;
  color: rgb(36, 62, 99);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 36px;
  text-align: left;
  text-size-adjust: 100%;
}
.service__description {
  margin-top: 24px;
  color: rgb(124, 139, 161);
  font-weight: 500;
  line-height: 48px;
}

.features__decoration--right {
  pointer-events: none;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 384px;
  height: 600px;
  transform: matrix(1, 0, 0, 1, 192, 288);
  transform: translate(8rem, 12rem);
  opacity: 0.25;
}



/* 

QUALITY WORK/VALUES/TESTIMONIALS

*/

.quality__decoration {
  position: absolute;
  display: block;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  height: 120px;
  width: 120px;
  transform: translateX(50%) translateY(50%);
  transform-origin: 0px 0px;
  fill: currentColor;
  color: rgb(100, 21, 255);
  overflow-clip-margin: content-box;
  box-sizing: border-box;
}

.section__info--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section__info--para{
  font-size: 27px;
  font-weight: 500;
  margin-top: 24px;
  color: rgb(124, 139, 161);
  line-height: 44px;
  max-width: 864px;
}
.section__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 144px 0px;
  
}

.section__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}

.section__img {
  position: relative;
  flex-shrink: 0;
}

.section__img-img{
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
  border: 1px;
  overflow-clip-margin: content-box;
}

.section__img--wrapper {
  position: relative;
}


/* 

STEPS

*/


.steps__info--wrapper {
  display: flex;
  margin-top: 48px;
}

.info__wrapper {
  display: flex;
  flex-direction: column;

}

.step__number {
  color: rgb(203, 213, 224);
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  text-size-adjust: 100%;
}

.info__wrapper {
  margin: 0px 0px 0px 36px;
  text-size-adjust: 100%;
}

.step__para {
  margin-top: 18px;
  color: rgb(113, 128, 150);
  font-size: 21px;
  font-weight: 500;
  line-height: 42px;
  max-width: 480px;
  tab-size: 4;
  text-align: left;
  text-size-adjust: 100%;
}

.steps__decoration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  height: 5rem;
  width: 5rem;
  left: 50%;
  transform: matrix(1, 0, 0, 1, -60, 60);
  opacity: 0.15;
  fill: currentColor;
  color: rgb(100, 21, 255);
}
/*

VALUES

*/


.principles__wrapper {
  display: flex;
}

.principle__wrapper {
  margin: 48px 0px 0px 0px;
}

.principle__banner {
  display: flex;
  align-items: center;
}

.principle__img1 {
  background-color: rgb(154, 230, 180);
  color: rgb(39, 103, 73);
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  flex-shrink: 0;
  padding: 14px 24px;
  text-align: center;
  border-radius: 9999px;
  line-height: 36px;
  overflow-clip-margin: content-box;
  text-size-adjust: 100%;
  vertical-align: middle;
  stroke: rgb(39, 103, 73);
}

.principle__img2 {
  background-color: rgb(254, 178, 178);
  color: rgb(155, 44, 44);
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  flex-shrink: 0;
  padding: 12px 22px;
  text-align: center;
  border-radius: 9999px;
  line-height: 36px;
  overflow-clip-margin: content-box;
  text-size-adjust: 100%;
  vertical-align: middle;
  stroke: rgb(155, 44, 44);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  
}

.margin__top {
  margin-top: 48px;
}
.margin__right {
  margin-right: 48px;
}
.margin__top2 {
  margin-top: 72px;
}

.margin__right2 {
  margin-right: 96px;
}

.margin__left2 {
  margin-left: 96px;
}

.principle__title {
  margin-left: 18px;
  color: rgb(36, 62, 99);
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-size-adjust: 100%;
}

.principle__para {
  margin-top: 24px;
  color: rgb(113, 128, 150);
  line-height: 39px;
  text-size-adjust: 100%;
}

/*

PRICES

*/


.prices__container {
    padding: 144px 0px;
}

/*
.prices__info--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/
.prices__plans--wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.plan__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px solid rgb(226, 232, 240);
  border-radius: 12px;
  width: calc(100%/3.4);
  max-width: 576px;
  margin: 96px 48px 0 0;
  padding: 12px 48px 0 48px;
  line-height: 36px;
  tab-size: 4;
  text-size-adjust: 100%;
  opacity: 1;
  background-color: white;
}

.plans__top--style {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 12px;
  max-width: 576px;
  line-height: 36px;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.plan__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 29%;
  max-width: 576px;
  padding: 48px 0;
}
.name {
  font-size: 30px;
  font-weight: 700;
  line-height: 48.75px;
}

.price {
  margin: 6px 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 117px;
}

.duration {
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 39px;
  tab-size: 4;
  color: rgb(160, 174, 192);
}

.plan__features {
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
 margin: 0px --48px;
  padding: 48px;
  width: 100%;
  max-width: 576px;
  text-align: center;
  line-height: 36px;
  tab-size: 4;
  border: solid rgb(226, 232, 240);
  border-right: 0px;
  border-left: 0px;
}


.feature {
    margin-top: 30px;
    font-weight: 500;
    line-height: 36px;
    tab-size: 4;
    color: rgb(113, 128, 150);
}

.main__feature {
    color: rgb(26, 32, 44);
    margin-top: 0px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
    line-height: 45px;
    tab-size: 4;
}
.purple__background {
  background-color: rgb(100, 21, 255);
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%);
}

.purple__border {
  border-color: rgb(102, 126, 234);
}

.plans__button--container {
  padding: 48px;
  width: 100%;
}
.plans__btn {
  display: flex;
  display: inline-block;
  align-self: flex-start;
  text-align: center;
  text-indent: 0px;
  padding: 24px 48px;
  padding-block-end: 24px;
  padding-block-start: 24px;
  padding-inline-end: 48px;
  padding-inline-start: 48px;
  margin-left: auto;
  border-radius: 9999px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 21px;
  font-stretch: 100%;
  width: 100%;
  transition: all 300ms ease;
  color: rgb(247, 250, 252);
  cursor: pointer;
}

.plans__btn:hover {
  box-shadow:  0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  transform: translateX(1px) translateY(-1px);
}

.prices__decoration {
  pointer-events: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -20;
  height: 16rem;
  width: 16rem;
  transform: matrix(1, 0, 0, 1, -192, 192);
  opacity: 0.25;
}

.green__highlight {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%);
}
.white__highlight {
  background-color: white;
  color: rgb(100, 21, 255);
}
.red__highlight {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%);
}

.white__text {
  color: white;
}

/* 

TESTIMONIAL 

*/


.testimonials__para {
    margin-top: 36px;
    font-size: 27px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
    color: rgb(124, 139, 161);
}

.customer__reviews--wrapper {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
    /*display: flex;
    flex-direction: column;
    height: 747px;
    width: 461px;
    line-height: 36px;
    text-align: left;
    text-size-adjust: 100%;*/
}

.slick-slider {
  display: block;
  position: relative;
  touch-action: pan-y;
  user-select: none;
}

.customer__review {
  display: block;
  position: relative;
  transform: translateZ(0);
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

.rating__stars {
    display: flex;
    text-align: left;
}

.fas {
    height: 30px;
    width: 30px;
    line-height: 36px;
    margin-right: 6px;
    color: rgb(246, 173, 85);
    fill: rgb(246, 173, 85);
}

.section__subtitle {
    margin-top: 24px;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    height: 36px;
    tab-size: 4;
    text-align: left;
    color: rgb(36, 62, 99);
}

.subsection__para {
    margin: 24px 0 60px;
    font-weight: 500;
    line-height: 39px;
    text-align: left;
    color: rgb(74, 85, 104);
    margin-block-end: 60px;
    margin-block-start: 24px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    user-select: none;
}

.customer__info--wrapper {
    display: flex;
}
.customer__info {
    margin-top: 6px;
    display: flex;
    font-display: row;
    justify-content: space-between;
    line-height: 36px;
    color: rgb(36, 62, 99);
}

.customer__picture {
    height: 120px;
    width: 120px;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    text-align: left;
    text-size-adjust: 100%;
    vertical-align: middle;
    color: rgb(36, 62, 99);
    border-radius: 9999px;
    overflow-clip-margin: content-box;
    user-select: none;
}
.customer__name--title {
    margin-left: 36px;
    line-height: 36px;
    tab-size: 4;
    text-align: left;
    text-size-adjust: 100%;
    user-select: none;
}

.customer__name {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    color: rgb(36,62, 99);
    user-select: none;
}

.customer__title {
    font-weight: 500px;
    line-height: 36px;
    tab-size: 4;
    text-align: left;
    color: rgb(124, 139, 161);
    user-select: none;
}

.customer__info--arrows {
    display: flex;
}

.customer__arrows--btn {
    margin: 0px 18px;
    padding: 24px;
    padding-block: 24px;
    padding-inline: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    display: flex;
    align-items: flex-start;
    border-radius: 9999px;
    word-spacing: 0px;
    color: rgb(100, 21, 255);
    background-color: rgb(237, 242, 247);
    border-color: transparent;
    border-image-repeat: stretch;
    border-image-width: 1;
    border-image-slice: 100%;    
    appearance: button;
    background-image: none;
    cursor: pointer;
}

.customer__arrows--btn::after {
    background-color: rgb(100, 21, 255);
  
    transition: all 300ms ease;
    text-transform: none;
}

.fa_solid {
    height: 24px;
    width: 24px;
    overflow: hidden;
    stroke-width: 3px;
}

.divider {
    margin: 18px 0px;
    border-left: 1px;
    border: solid rgb(226, 232, 240);
    line-height: 36px;
    tab-size: 4;
    text-align: left;
}


/*

FAQs

*/

.FAQ__container {
  position: relative;
  padding: 144px 0px;
}

.FAQ__menu--wrapper {
  position: relative;
  margin-top: 72px;
  max-width: 1344px;
  margin: 0px;
}

.menu__wrapper {
  margin-top: 30px;
  padding: 24px 60px;
  cursor: pointer;
  user-select: none;
  border-radius: 12px;
  background-color: rgb(237, 242, 247);
  color: rgb(45, 55, 72);
}

.menu__wrapper:hover {
  background-color: rgb(226, 232, 240);
  transition-duration: 300ms;
}

.menu__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__question {
  font-size: 30px;
  font-weight: 600;
}

.dropdown__arrow {
  transform: none;
  margin-left: 12px;
  cursor: pointer;
}

.dropdown__arrow:hover {
  transform: rotate(-180deg)translateZ(0px);
  transition-duration: 300ms;
}

.dropdown__arrow--img {
  height: 36px;
  width: 36px;
  display: block;
}

.dropdown__menu--text {
  margin-top: 16px;
  opacity: 1;
  height: auto;
  font-size: 24px;
  line-height: 1.6;
  pointer-events: none;
}

.FAQ__decoration--top {
  pointer-events: none;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -20;
  height: 14rem;
  width: 14rem;
  transform: matrix(1, 0, 0, 1, 224.011, -72);
  transform-origin: 0px 0px;
  transform: translate(300, 300);
  opacity: 0.15;
  color: rgb(79, 209, 197);
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.FAQ__decoration--bottom {
  pointer-events: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -20;
  height: 16rem;
  width: 16rem;
  transform: matrix(1, 0, 0, 1, -256.013, 0);
  color: rgb(100, 21, 255);
  opacity: 0.15;
}


/*

FINAL SECTION

*/

.final__section {
  transform: none;
}

.final__section--wrapper {
  position: relative;
  margin-bottom: 144px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 144px 0px;
}

.final__section--content {
  display: flex;
  position: relative;
  border-radius: 12px;
  background-color: rgb(100, 21, 255);
  padding: 144px 48px;
}

.final__info {
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  padding: 0px 48px;
  font-size: 45px;
  font-weight: 700;
  color: rgb(247 , 250, 252);
  margin: 0px;
}

.final__button--container {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  width: 50%;
  max-width: 768px;
}

.final__button1 {
  width: 100%;
  margin-right: 48px;
  padding: 30px 60px;
  
  background-color: rgb(245, 101, 101);
  color: rgb(247, 250, 252);
  border-radius: 9999px;
  border-color: transparent;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.6px;
  display: flex;
  align-items: center;
}

.final__button1:hover {
  background-color: rgb(229, 62, 62);
  transition-duration: 300ms;
}

.final__button2 {
  width: 100%;
  padding: 30px 60px;
  margin-top: 24px;
  border: 1px solid rgb(160, 174, 192);
  color: rgb(247, 250, 252);
  opacity: 1;
  border-radius: 9999px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.6px;
  display: flex;
  align-items: center;
}

.final__button2:hover {
  background-color: rgb(247, 250, 252);
  border-color: rgb(100, 21, 255);
  color: rgb(100, 21, 255);
  transition-duration: 300ms ease;
}

.final__decoration--wrapper {
  position: absolute;
  inset: 0px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.final__decoration--left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20rem;
  width: 20rem;
  transform: matrix(1, 0, 0, 1, -120, 192);
  color: rgb(80, 17, 204);
  opacity: 0.5;
}

.final__decoration--right {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20rem;
  width: 20rem;
  transform: matrix(1, 0, 0, 1, 120, -384);
  color: rgb(80, 17, 204);
  opacity: 0.5;
}

/*

FOOTER

*/

footer {
  left: 0px;
  right: 0px;
  top: 0px;
  line-height: 36px;
  overflow: hidden;
  position: relative;
  background-color: rgb(100, 21, 255);
  padding: 120px 48px;
  margin: 0px -48px -48px -48px;
  color: rgb(247, 250, 252);
}

.footer__lists--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 36px;
  margin-top: -72px;
  tab-size: 4;
  text-align: left;
  text-size-adjust: 100%;
}

.footer__list {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  margin-top: 72px;
  line-height: 36px;
  width: 93px;
  z-index: 1;
}

.list__item {
  padding-bottom: 6px;
  margin-top: 18px;
  
  cursor: pointer;
  font-size: 21px;
  font-weight: 500;
  line-height: 32px;
}

.white {
  color: rgb(247, 250, 252);
}

.list__item:hover {

  border-bottom: 2px solid rgb(247, 250, 252);
}

.footer__line {
  width: 100%;
  margin: 96px 0px;
line-height: 36px;
  border-bottom: 2px solid rgb(116, 44, 255);

}

.final__footer--wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__logo--wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 6px;
}

.footer__logo--img {
  width: 48px;
  height: 48px;
  margin: 0 18px 0 0;
}

.footer__logo--title {
  color: rgb(247, 250, 252);
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1.5px;
  line-height: 48px;
  tab-size: 4;
  text-size-adjust: 100%;
  margin-left: 12px;
}

.footer__copyright {
  color: rgb(203, 213, 224);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-size-adjust: 100%;
}

.social__links {
  animation: fade-up 650ms 800ms backwards;
  display: flex;
  align-items: center;
  line-height: 36px;
}
.social__wrapper {
  cursor: pointer;
  margin-right: 24px;
  line-height: 36px;
  overflow-clip-margin: content-box;
  vertical-align: middle;
}

.social__link {
  height: 24px;
  width: 24px;
  line-height: 36px;
  font-size: 20px;
  color: #242424;
  padding: 12px; 
  border-radius: 9999px; 
  color: rgb(26, 32, 44);
  background-color: white; 
  text-size-adjust: 100%;
  transform-origin: 0px 0px;
  z-index: 1;
}

.footer__decoration--left {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20rem;
  width: 20rem;
  transform: matrix(1, 0, 0, 1, -120, -192);
  color: rgb(80, 17, 204);
  opacity: 0.5;
}

.footer__decoration--right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 20rem;
  width: 20rem;
  transform: matrix(1, 0, 0, 1, 192, 288);
  color: rgb(80, 17, 204);
  opacity: 0.5;
}

/*

@media SECTION 

*/


@media (max-width: 550px) {
  .nav__list--links {
    display: none;
  }
  .btn__menu {
    display: block;
  }

  .header__form--wrapper--small {
    /*gone
        display: flex;
        flex-direction:column;
        display: none;
        */
  }
}


@media (max-width: 640px) {
  .email__input--big {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .big__btn {
    position: relative;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    line-height: 1;
  }

  .service__img {
    text-align: left;
  }
  .service__img--wrappers {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .menu__wrapper {
    padding: 24px 60px;
  }

  .dropdown__menu--text {
    font-size: 21px;
  }

  .final__button--container {
    flex-direction: row;
  }
  .final__button1 {
    padding: 18px 36px;
    margin-right: 0px;
    width: auto;
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .plans__btn {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  .service__img--wrappers {
    width: 50% ;
  }

  .purple__btn {
    margin-top: 0px;
    margin-right: 0px;
    margin-top: 48px;
  }

  .header__container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section__info {
    padding-left: 3rem;
    order: 9999;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 50%;
  }


  .section__img {
    width: 50%;
  }
  .section__img-img {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1024px) {
  .header__description {
    width: 40%;
    max-width: none;
    text-align: left;
  }
  .header__img--wrapper {
    margin-top: 72px;
    align-self: flex-end;
  }
  .header__img {
    justify-content: flex-end;
  }
  .header__img-img {
    max-width: 768px;
  }

  .email__input--big--container {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    max-width: 768px;
  }
  

  .header__container {
    flex-direction: row;
    align-items: center;
  }

  .section__info {
    padding-left: 4rem;
  }

  .menu__question {
    font-size: 27px;
  }

  .final__section--wrapper {
    margin-bottom: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .final__section--content {
    padding: 120px 0px;
  }
  .final__info {
    flex-direction: row;
    text-align: left;
    width: 50%;
    font-size: 36px;
  }

  .final__button--container {
    margin-top: 0px;
    justify-content: flex-end;
  }

  .final__button1 {
    padding: 24px 48px;
  }

}

@media (max-width: 1280px) {
  .steps__decoration {
    height: 10rem;
    width: 10rem;
  }
}


/*

.email__input--small {
padding 24px 0px 24px 28px
width 362px 
padding 0px
margin 0px
}
*/