@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@400;700&family=Roboto+Mono:ital,wght@0,300;0,600;1,700&family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    position: relative;
    transform: opacity 300ms ease;
    cursor: pointer;
}


h1 {
    color: #1a202c;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.25;
    margin: 0px;
}

p {
    color: #243e63;
    font-size: 27px;
    margin: 48px 0px;
}




.purple {
    color: #6415ff;
}

li {
    list-style: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.container  {
    padding: 80px 0;
}


.btn

/*

NAVIGATION BAR 

*/

.nav__container { 
    height: 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px; 
}
.logo {
    width: 60px; 
    height: 60px;
    margin: 0 18px 0 0;
}

.nav__logo--title {
    font-size: 36px;
    font-weight: 900;
    color: #243E63;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 6px;
}

.nav__list--links {
    display: flex;
}
.nav__link--anchor {
    color: #243E63;
    font-size: 21px;
    font-weight: 600;
    margin: 0 36px;
    padding: 0 0 6px;
}

.nav__link--anchor:hover{
    color: #6415ff;
}

.nav__link--anchor::after {
    content: "";
    position: absolute;
    height: 3px; 
    width: 0;
    bottom: -3px;
    transition: all 300ms ease;
    right: 0;
    background-color: #6415ff;
}

.nav__link--anchor:hover::after {
    width: 100%;
    left: 0;
}

.button {
    background-color: #6415ff;
    padding: 18px 48px;
    border-radius: 50px;
    color: #f7fafc;
    transition: all 300ms ease;
}

.button:hover {
    background-color: rgb(91, 21, 215);
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #243E63;
    display: none;
}

.btn__menu:hover {
    color: #6415ff;
}

.btn__menu::after {
    content: "";
    position: absolute;
    height: 3px; 
    width: 0;
    bottom: -3px;
    transition: all 300ms ease;
    right: 0;
}

.menu__backdrop {
    border: 1px solid rgb(226, 232, 240);
    box-shadow: 5px 5px 10px rgba(172, 172, 172,0.2);
    position: absolute;
    background-color: #FFFFFF;
    top: 36px;
    left: 36px;;
    right: 36px;
    padding-bottom: 48px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    max-width: 100vh;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 27px;
    color: #1a202c;
    margin: 12px 0;
    padding: 0 0 6px;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8;
    color: #243E63;
}


/* 

HEADER

*/


.section__title {

}

.header__container {
    padding: 96px;
    width: 100%;
    display: flex;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    position: relative;
}

.header__img--logo {
    width: 100%;
    display: flex;
    overflow-clip-margin: content-box;
}
.header__img {
    width: 100%;
    max-width: 60%;
    justify-content: flex-end;
}

.trusted__logo {
    color: #a0aec0;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}


.header__form--wrapper--big {
    display: none;
    align-self: center;
    max-width: 768px;
    padding: 6px 0px;
    border-style: solid;
    border: 2px solid rgb(226, 232, 240);
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-radius: 9999px;
}

.header__form {
    display: flex;
    font-display: column;
    align-items: center;
}

.header__input--container--big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
}

input {
    border-radius: 9999px;
    color: rgb(226, 232, 240);
    border: solid rgb(226, 232, 240);
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    padding: 30px;
    z-index: 2;
    font-stretch: 100%;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    word-spacing: 0px;
}

.header__btn {
    background-color: rgb(100, 21, 255);
    padding: 30px 48px;
    margin-left: auto;
    border-radius: 9999px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    transition: all 300ms ease;
    color: rgb(247, 250, 252);
    cursor: pointer;
}

.header__form--wrapper--small {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

SERVICES

*/

.services__list {
    display: flex;
    flex-wrap: wrap;
}
.service {
    width: 30%;
    margin: 0px 16px;
    padding: 32px 8px;
}

.service__img {
    padding: 20px;
}





@media (max-width: 550px) {
    .nav__list--links {
        display: none;
    }
    .btn__menu {
        display: block;
    }
    .header__btn {
        margin: 24px 0px 0px;
        width: 100%;
    }
    .header__form--wrapper--small {
        
        /*gone
        display: flex;
        flex-direction:column;
        display: none;
        */
    }
}