@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@400;700&family=Roboto+Mono:ital,wght@0,300;0,600;1,700&family=Roboto:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  tab-size: 4;
  text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  position: relative;
  transform: opacity 300ms ease;
  cursor: pointer;
}

h1 {
  color: rgb(26, 32, 44);
  font-size: 72px;
  font-weight: 700;
  line-height: 1.25;
  margin: 0px;
}

h2 {
  color: rgb(36, 62, 99);
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 1.8px;
  line-height: 90px;
  text-size-adjust: 100%;
  margin-top: 24px;
  text-align: left;
}

h5 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  color: rgb(36, 62, 99);
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}

/*
p {
  color: #243e63;
  font-size: 27px;
  margin: 48px 0px;
}
*/

.purple {
  color: rgb(100, 21, 255);
}

.purple__title {
  color: rgb(100, 21, 255);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 24px;
}

li {
  list-style: none;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

.btn



/*

NAVIGATION BAR 

*/

.nav__container {
  height: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.nav__logo--wapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 6px;
}

.nav__logo--img {
  width: 60px;
  height: 60px;
  margin: 0 18px 0 0;
}

.nav__logo--title {
  font-size: 36px;
  font-weight: 900;
  color: #243e63;
}



.nav__list--links {
  display: flex;
}
.nav__link--anchor {
  color: #243e63;
  font-size: 21px;
  font-weight: 600;
  margin: 0 36px;
  padding: 0 0 6px;
}

.nav__link--anchor:hover {
  color: #6415ff;
}

.nav__link--anchor::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  transition: all 300ms ease;
  right: 0;
  background-color: #6415ff;
}

.nav__link--anchor:hover::after {
  width: 100%;
  left: 0;
}

.button {
  background-color: #6415ff;
  padding: 18px 48px;
  border-radius: 50px;
  color: #f7fafc;
  transition: all 300ms ease;
}

.button:hover {
  background-color: rgb(91, 21, 215);
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #243e63;
  display: none;
}

.btn__menu:hover {
  color: #6415ff;
}

.btn__menu::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  transition: all 300ms ease;
  right: 0;
}

.menu__backdrop {
  border: 1px solid rgb(226, 232, 240);
  box-shadow: 5px 5px 10px rgba(172, 172, 172, 0.2);
  position: absolute;
  background-color: #ffffff;
  top: 36px;
  left: 36px;
  right: 36px;
  padding-bottom: 48px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  max-width: 100vh;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 27px;
  color: #1a202c;
  margin: 12px 0;
  padding: 0 0 6px;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8;
  color: #243e63;
}

/* 

HEADER

*/

.header__info--para {
    color: rgb(36, 62, 99);
    font-size: 27px;
    line-height: 40px;
    margin: 48px 0px;
}

.header__container {
  padding: 96px;
  width: 100%;
  display: flex;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  position: relative;
}
.header__logo--wrapper{
  line-height: 36px;
  margin-top: 120px;
}
.trusted__logo {
  color: rgb(160, 174, 192);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.9px;
  text-align: left;
}

.header__img--logo {
  max-width: 100%;
  display: flex;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  margin: 24px 0px 0px;
  padding-right: 96px;
  color: rgb(36, 62, 99);
  line-height: 36px;
  opacity: 0.5;
}
.header__img {
  width: 100%;
  max-width: 60%;
  justify-content: flex-end;
}


.header__form--wrapper--big {
  display: none;
  align-self: center;
  max-width: 768px;
  padding: 6px 0px;
  border-style: solid;
  border: 2px solid rgb(226, 232, 240);
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-radius: 9999px;
}

.header__form {
  display: flex;
  font-display: column;
  align-items: center;
}

.header__input--container--big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
}

input {
  border-radius: 9999px;
  color: rgb(226, 232, 240);
  border: solid rgb(226, 232, 240);
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 30px;
  z-index: 2;
  font-stretch: 100%;
  text-align: start;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  word-spacing: 0px;
}

.purple__btn {
  background-color: rgb(100, 21, 255);
  padding: 18px 48px;
  margin-left: auto;
  border-radius: 9999px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 21px;
  transition: all 300ms ease;
  color: rgb(247, 250, 252);
  cursor: pointer;
}

.header__form--wrapper--small {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

FEATURES

*/


.services__list {
  display: flex;
  flex-wrap: wrap;
}
.service__img--wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 29%;
  max-width: 576px;
  margin: 0px 24px;
  padding: 48px 12px;
  height: 550px;
}

.service__img {
  padding: 20px;
}

.service__wrapper {
  margin: 12px 0px 0px 24px;
}

.service {
  margin-top: 24px;
  color: rgb(36, 62, 99);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 36px;
  text-align: left;
  text-size-adjust: 100%;
}
.service__description {
  margin-top: 24px;
  color: rgb(124, 139, 161);
  font-weight: 500;
  line-height: 48px;
}

/* 

QUALITY WORK/VALUES/TESTIMONIALS

*/

.section__info--wrapper {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section__info--para{
  font-size: 27px;
  font-weight: 500;
  margin-top: 24px;
  color: rgb(124, 139, 161);
  line-height: 44px;
  max-width: 864px;
}
.section__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 144px 0px;
  
}

.section__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-size-adjust: 100%;
    padding: 48px 0px;
}

.section__img {
  width: 50%;
  max-width: none;
 overflow-clip-margin: content-box;
  line-height: 36px;
  tab-size: 4;
  text-size-adjust: 100%;
  vertical-align: middle;
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.pad__left {
    padding: 0px 0px 0px 96px;
}


/* 

STEPS

*/


.steps__info--wrapper {
  display: flex;
  margin-top: 48px;
}

.info__wrapper {
  display: flex;
  flex-direction: column;

}

.step__number {
  color: rgb(203, 213, 224);
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  text-size-adjust: 100%;
}

.info__wrapper {
  margin: 0px 0px 0px 36px;
  text-size-adjust: 100%;
}

.step__para {
  margin-top: 18px;
  color: rgb(113, 128, 150);
  font-size: 21px;
  font-weight: 500;
  line-height: 42px;
  max-width: 480px;
  tab-size: 4;
  text-align: left;
  text-size-adjust: 100%;
}
/*

VALUES

*/


.principles__wrapper {
  display: flex;
}

.principle__wrapper {
  margin: 48px 0px 0px 0px;
}

.principle__banner {
  display: flex;
}

.margin__top {
  margin-top: 48px;
}
.margin__right {
  margin-right: 48px;
}
.margin__top2 {
  margin-top: 72px;
}

.principle__title {
  margin-left: 18px;
  color: rgb(36, 62, 99);
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-size-adjust: 100%;
}

.principle__para {
  margin-top: 24px;
  color: rgb(113, 128, 150);
  line-height: 39px;
  text-size-adjust: 100%;
}

/*

PRICES

*/


.prices__container {
    padding: 144px 0px;
}

/*
.prices__info--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/
.prices__plans--wrapper {
  display: flex;
  flex-wrap: wrap;
}
.plan__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px solid rgb(226, 232, 240);
  border-radius: 12px;
  width: calc(100%/3.4);
  max-width: 576px;
  margin: 96px 48px 0 0;
  padding: 12px 48px 0 48px;
  line-height: 36px;
  tab-size: 4;
  text-size-adjust: 100%;
}

.plans__top--style {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 12px;
  max-width: 576px;
  line-height: 36px;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.plan__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 29%;
  max-width: 576px;
  padding: 48px 0;
}
.name {
  font-size: 30px;
  font-weight: 700;
  line-height: 48.75px;
}

.price {
  margin: 6px 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 117px;
}

.duration {
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 39px;
  tab-size: 4;
  color: rgb(160, 174, 192);
}

.plan__features {
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
 margin: 0px --48px;
  padding: 48px;
  width: 100%;
  max-width: 576px;
  text-align: center;
  line-height: 36px;
  tab-size: 4;
  border: solid rgb(226, 232, 240);
  border-right: 0px;
  border-left: 0px;
}


.feature {
    margin-top: 30px;
    font-weight: 500;
    line-height: 36px;
    tab-size: 4;
    color: rgb(113, 128, 150);
}

.main__feature {
    color: rgb(26, 32, 44);
    margin-top: 0px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
    line-height: 45px;
    tab-size: 4;
}
.purple__background {
  background-color: rgb(100, 21, 255);
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%);
}

.purple__border {
  border-color: rgb(102, 126, 234);
}

.plans__button--container {
  padding: 48px;
  width: 100%;
}
.plans__btn {
  display: flex;
  display: inline-block;
  align-self: flex-start;
  text-align: center;
  text-indent: 0px;
  padding: 24px 48px;
  padding-block-end: 24px;
  padding-block-start: 24px;
  padding-inline-end: 48px;
  padding-inline-start: 48px;
  margin-left: auto;
  border-radius: 9999px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 21px;
  font-stretch: 100%;
  width: 100%;
  transition: all 300ms ease;
  color: rgb(247, 250, 252);
  cursor: pointer;
}

.green__highlight {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%);
}
.white__highlight {
  background-color: white;
  color: rgb(100, 21, 255);
}
.red__highlight {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%);
}

.white__text {
  color: white;
}

/* 

TESTIMONIAL 

*/


.testimonials__para {
    margin-top: 36px;
    font-size: 27px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
    color: rgb(124, 139, 161);
}

.customer__reviews--wrapper {
    display: flex;
    flex-direction: column;
    height: 747px;
    width: 461px;
    line-height: 36px;
    text-align: left;
    text-size-adjust: 100%;
}

.rating__stars {
    display: flex;
    text-align: left;
}

.fas {
    height: 30px;
    width: 30px;
    line-height: 36px;
    margin-right: 6px;
    color: rgb(246, 173, 85);
    fill: rgb(246, 173, 85);
}

.section__subtitle {
    margin-top: 24px;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    height: 36px;
    tab-size: 4;
    text-align: left;
    color: rgb(36, 62, 99);
}

.subsection__para {
    margin: 24px 0 60px;
    font-weight: 500;
    line-height: 39px;
    text-align: left;
    color: rgb(74, 85, 104);
    margin-block-end: 60px;
    margin-block-start: 24px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    user-select: none;
}

.customer__info--wrapper {
    display: flex;
}
.customer__info {
    margin-top: 6px;
    display: flex;
    font-display: row;
    justify-content: space-between;
    line-height: 36px;
    color: rgb(36, 62, 99);
}

.customer__picture {
    height: 120px;
    width: 120px;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: clip;
    text-align: left;
    text-size-adjust: 100%;
    vertical-align: middle;
    color: rgb(36, 62, 99);
    border-radius: 9999px;
    overflow-clip-margin: content-box;
    user-select: none;
}
.customer__name--title {
    margin-left: 36px;
    line-height: 36px;
    tab-size: 4;
    text-align: left;
    text-size-adjust: 100%;
    user-select: none;
}

.customer__name {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    color: rgb(36,62, 99);
    user-select: none;
}

.customer__title {
    font-weight: 500px;
    line-height: 36px;
    tab-size: 4;
    text-align: left;
    color: rgb(124, 139, 161);
    user-select: none;
}

.customer__info--arrows {
    display: flex;
}

.customer__arrows--btn {
    margin: 0px 18px;
    padding: 24px;
    padding-block: 24px;
    padding-inline: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    display: flex;
    align-items: flex-start;
    border-radius: 9999px;
    word-spacing: 0px;
    color: rgb(100, 21, 255);
    background-color: rgb(237, 242, 247);
    border-color: rgb(226, 232, 240)
    border-image-repeat: stretch;
    border-image-width: 1;
    border-image-slice: 100%;    
    appearance: button;
    background-image: none;
    cursor: pointer;
}

.customer__arrows--btn::after {
    background-color: rgb(100, 21, 255);
    border-color: ;
    color: ;
    fill: ;
    stroke: ;
    opacity: ;
    box-shadow: ;
    transform: ;
    transition: all 300ms ease;
    text-transform: none;
}

.fa_solid {
    height: 24px;
    width: 24px;
    overflow: hidden;
    stroke-width: 3px;
}

.divider {
    margin: 18px 0px;
    border-left: 1px;
    border: solid rgb(226, 232, 240);
    line-height: 36px;
    tab-size: 4;
    text-align: left;
}


/*

FOOTER

*/


.footer__lists--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 36px;
  margin-top: -72px;
  tab-size: 4;
  text-align: left;
  text-size-adjust: 100%;
  background-color: black;
}

.footer__list {
  color: rgb(247, 250, 252);
  margin-top: 72px;
  line-height: 36px;
  width: 93px;
}

.list__item {
  padding-bottom: 6px;
  color: rgb(247, 250, 252);
  cursor: pointer;
  font-size: 21px;
  font-weight: 500;
  line-height: 32px;
}

.white {
  color: rgb(247, 250, 252);
}

.list__item:hover {

  border-bottom: 2px solid rgb(247, 250, 252);
}

.final__footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__logo--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 6px;
}

.footer__logo--img {
  width: 60px;
  height: 60px;
  margin: 0 18px 0 0;
}

.footer__logo--title {
  font-size: 30px;
  font-weight: 900;
  color: rgb(247, 250, 252);
  letter-spacing: 1.5px;
  line-height: 45px;
  tab-size: 4;
  text-size-adjust: 100%;
  margin: 0px 0px 0px 12px;
  background-color: black;
}

.footer__copyright {
  color: rgb(203, 213, 224);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-size-adjust: 100%;
}



@media (max-width: 550px) {
  .nav__list--links {
    display: none;
  }
  .btn__menu {
    display: block;
  }
  .purple__btn {
    margin: 24px 0px 0px;
    width: 100%;
  }
  .header__form--wrapper--small {
    /*gone
        display: flex;
        flex-direction:column;
        display: none;
        */
  }
}
